Repository PSAppDeployToolkit/PSAppDeployToolkit, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, documentation, dotnet, update, NuGet, dependencies, styles, themes, titlebar, tray, controls, navigation, gallery, icons

.github/labeler.yml:

release:
  - base-branch: 'main'

PR:
  - base-branch: [ 'main', 'development' ]

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

dotnet:
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

update:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Build.props'

NuGet:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Packages.props'

dependencies:
- changed-files:
  - any-glob-to-any-file: [ 'src/Directory.Packages.props', 'branding/package.json' ]

styles:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/**/*.xaml'

themes:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Appearance/**'

titlebar:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Controls/TitleBar/**'

tray:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui.Tray/**'

controls:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Controls/**'

navigation:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Controls/NavigationView/**'

gallery:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui.Gallery/**'

icons:
- changed-files:
  - any-glob-to-any-file: [ 'src/Wpf.Ui/Resources/Fonts/**', 'src/Wpf.Ui/Controls/IconSource/*', 'src/Wpf.Ui/Controls/IconElement/*' ]

Add parentheses to path expressions used in git log commands, improve log messages
  src/PSAppDeployToolkit.build.ps1
Labels: none

Reduce verbosity of msbuild to minimal
  src/PSAppDeployToolkit.build.ps1
Labels: none

Write log timestamps in the same format 'git log' uses to aid troubleshooting
  src/PSAppDeployToolkit.build.ps1
Labels: none

Update OutputFile for build dlls to fix git commit time checks
  src/PSAppDeployToolkit.build.ps1
Labels: none

- Advise that `-WindowLocation` has no effect for `Show-ADTInstallationProgress` with fluent dialogs.
  src/PSAppDeployToolkit/Private/Show-ADTInstallationProgressFluent.ps1
Labels: none

- Remove all references to "XML" within comment-based help.
  docs/Block-ADTAppExecution.mdx
  docs/Show-ADTInstallationProgress.mdx
  docs/Show-ADTInstallationWelcome.mdx
  docs/Start-ADTMsiProcess.mdx
  docs/Uninstall-ADTApplication.mdx
  src/PSAppDeployToolkit/Public/Block-ADTAppExecution.ps1
  src/PSAppDeployToolkit/Public/Show-ADTDialogBox.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationProgress.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationPrompt.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationWelcome.ps1
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
  src/PSAppDeployToolkit/Public/Uninstall-ADTApplication.ps1
Labels: documentation

- Add config option to allow sending log files to a subfolder of LogPath.
  src/PSADT/PSADT/Module/PSADT.Module.Class.DeploymentSession.cs
  src/PSAppDeployToolkit/Config/config.psd1
Labels: dotnet

- Allow overriding a session's default LogName value.
  docs/Open-ADTSession.mdx
  src/PSADT/PSADT/Module/PSADT.Module.Class.DeploymentSession.cs
  src/PSAppDeployToolkit/Public/Open-ADTSession.ps1
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: documentation, dotnet

- Make `DynamicProcessEvaluation = $false` work right for `Show-ADTWelcomePromptFluent`.
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.WelcomeDialog.xaml.cs
  src/PSAppDeployToolkit/Private/Get-ADTRunningProcesses.ps1
  src/PSAppDeployToolkit/lib/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/PSADT.UserInterface.pdb
Labels: dotnet

- `string.IsNullOrWhiteSpace()` always.
  src/PSADT/PSADT/AccessToken/PSADT.AccessToken.TokenManager.cs
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: dotnet

- Add `New-ADTExampleFunction` as an example function within `PSAppDeployToolkit.Extensions`.
  src/PSAppDeployToolkit/Frontend/v4/PSAppDeployToolkit.Extensions/PSAppDeployToolkit.Extensions.psm1
Labels: none

- Fix incorrect comparison operator from "- Advise that `-WindowLocation` has no effect for `Show-ADTInstallationProgress` with fluent dialogs.".
  src/PSAppDeployToolkit/Private/Show-ADTInstallationProgressFluent.ps1
Labels: none

- Rework the entire string table to properly handle different deployment types.
  src/PSAppDeployToolkit/Private/Show-ADTInstallationRestartPromptClassic.ps1
  src/PSAppDeployToolkit/Private/Show-ADTInstallationRestartPromptFluent.ps1
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptClassic.ps1
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptFluent.ps1
  src/PSAppDeployToolkit/Public/Block-ADTAppExecution.ps1
  src/PSAppDeployToolkit/Public/Show-ADTBlockedAppDialog.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationProgress.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationPrompt.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationRestartPrompt.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationWelcome.ps1
  src/PSAppDeployToolkit/Strings/strings.psd1
Labels: none

- Rework previous commit to have specific strings for each type of deployment.
  src/PSADT/PSADT/Module/PSADT.Module.Class.DeploymentSession.cs
  src/PSAppDeployToolkit/Private/Show-ADTInstallationRestartPromptClassic.ps1
  src/PSAppDeployToolkit/Private/Show-ADTInstallationRestartPromptFluent.ps1
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptClassic.ps1
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptFluent.ps1
  src/PSAppDeployToolkit/Public/Block-ADTAppExecution.ps1
  src/PSAppDeployToolkit/Public/Close-ADTInstallationProgress.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationProgress.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationPrompt.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationRestartPrompt.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationWelcome.ps1
  src/PSAppDeployToolkit/Strings/strings.psd1
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: dotnet

- Add in some empty files to the Files/SupportFiles folders to stop GitHub upload-artifact from dropping the empty folders.
  src/PSAppDeployToolkit/Public/New-ADTTemplate.ps1
Labels: none

- Add `-SkipUnloadedProfiles` parameter to `Invoke-ADTAllUsersRegistryAction`.
  docs/Invoke-ADTAllUsersRegistryAction.mdx
  src/PSAppDeployToolkit/Public/Invoke-ADTAllUsersRegistryAction.ps1
Labels: documentation

- Add stronger typing to `Get-ADTUserProfiles` returned object output.
  docs/Get-ADTUserProfiles.mdx
  src/PSADT/PSADT/Types/PSADT.Types.Struct.UserProfile.cs
  src/PSAppDeployToolkit/Public/Get-ADTUserProfiles.ps1
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
  src/Tests/Unit/Copy-ADTFileToUserProfiles.Tests.ps1
Labels: documentation, dotnet

- Add `Get-ADTPresentationSettingsEnabledUsers` to test whether the user has enabled presentation mode via the mobility settings on the device.
  docs/Get-ADTPresentationSettingsEnabledUsers.mdx
  docs/docusaurus.sidebar.js
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
  src/PSAppDeployToolkit/Public/Get-ADTPresentationSettingsEnabledUsers.ps1
  src/PSAppDeployToolkit/Public/Test-ADTUserIsBusy.ps1
Labels: documentation

- Drop unused `Get-GitHubReleaseAssetUri` function from the build system.
  src/PSAppDeployToolkit.build.ps1
Labels: none

- Minor refactor for `Show-ADTWelcomePromptFluent` to optimise out an extra `Get-ADTRunningProcesses` call.
  src/PSADT.UserInterface/PSADT.Exe/Program.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.ADTApplication.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.UnifiedADTApplication.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.WelcomeDialog.xaml.cs
  src/PSADT/PSADT/Types/PSADT.Types.Class.WelcomeState.cs
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptFluent.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationWelcome.ps1
  src/PSAppDeployToolkit/lib/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/PSADT.UserInterface.pdb
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: dotnet

- Use `$PSCmdlet.ThrowTerminatingError()` within `Show-ADTWelcomePromptFluent` since it has CmdletBinding().
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptFluent.ps1
Labels: none

- Add `DisableDefaultMsiProcessList` to `Open-ADTSession` to allow disabling the zero-config MSI process list evaluation.
  docs/Open-ADTSession.mdx
  src/PSADT/PSADT/Module/PSADT.Module.Class.DeploymentSession.cs
  src/PSAppDeployToolkit/Public/Open-ADTSession.ps1
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: documentation, dotnet

- Add new function `Get-ADTOperatingSystemInfo`.
  docs/Get-ADTOperatingSystemInfo.mdx
  docs/docusaurus.sidebar.js
  src/PSADT/PSADT/GUI/PSADT.GUI.UiAutomation.cs
  src/PSADT/PSADT/OperatingSystem/PSADT.OperatingSystem.Enums.cs
  src/PSADT/PSADT/OperatingSystem/PSADT.OperatingSystem.OSHelper.cs
  src/PSADT/PSADT/OperatingSystem/PSADT.OperatingSystem.OSVersionInfo.cs
  src/PSADT/PSADT/WTSSession/PSADT.WTSSession.SessionManager.cs
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
  src/PSAppDeployToolkit/Public/Get-ADTOperatingSystemInfo.ps1
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: documentation, dotnet

Added FluentAccentColorOverride config setting
  src/PSADT.UserInterface/PSADT.Exe/Program.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.ADTApplication.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.BaseDialog.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.CustomDialog.xaml.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.ProgressDialog.xaml.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.RestartDialog.xaml.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.UnifiedADTApplication.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.WelcomeDialog.xaml
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.WelcomeDialog.xaml.cs
  src/PSAppDeployToolkit/Config/config.psd1
  src/PSAppDeployToolkit/Private/Show-ADTInstallationProgressFluent.ps1
  src/PSAppDeployToolkit/Private/Show-ADTInstallationPromptFluent.ps1
  src/PSAppDeployToolkit/Private/Show-ADTInstallationRestartPromptFluent.ps1
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptFluent.ps1
  src/PSAppDeployToolkit/lib/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/PSADT.UserInterface.pdb
Labels: dotnet

Set Accent to Red for Test harness
  src/PSADT.UserInterface/PSADT.Exe/Program.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.WelcomeDialog.xaml
Labels: dotnet

- Remove `$runningProcess.Refresh()` line from `Show-ADTInstallationWelcome`.
  src/PSAppDeployToolkit/Public/Show-ADTInstallationWelcome.ps1
Labels: none

- Optimise setup in `Get-ADTPEFileArchitecture` to avoid an unnecessary try/catch block.
  src/PSAppDeployToolkit/Public/Get-ADTPEFileArchitecture.ps1
Labels: none

- Restore lost log message within `Update-ADTDesktop`.
  src/PSAppDeployToolkit/Public/Update-ADTDesktop.ps1
Labels: none

- Improve exception handling within `PSADT.GUI.Explorer.RefreshDesktopAndEnvironmentVariables()`.
  src/PSADT/PSADT/GUI/PSADT.GUI.Explorer.cs
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: dotnet

- Change the module's CommandTable from an OrderedDictionary to a ReadOnlyDictionary.
  src/PSAppDeployToolkit.build.ps1
  src/PSAppDeployToolkit/ImportsFirst.ps1
  src/PSAppDeployToolkit/ImportsLast.ps1
  src/PSAppDeployToolkit/Public/Invoke-ADTCommandWithRetries.ps1
Labels: none

- Add `Get-ADTCommandTable` to the module.
  docs/Get-ADTCommandTable.mdx
  docs/docusaurus.sidebar.js
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
  src/PSAppDeployToolkit/Public/Get-ADTCommandTable.ps1
Labels: documentation

- Fix bad setup stemming from "- Add `DisableDefaultMsiProcessList` to `Open-ADTSession` to allow disabling the zero-config MSI process list evaluation.".
  src/PSADT/PSADT/Module/PSADT.Module.Class.DeploymentSession.cs
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: dotnet

- Ensure throws from DeploymentSession's constructor maintain the exception's stack trace that it's rethrowing.
  src/PSADT/PSADT/Module/PSADT.Module.Class.DeploymentSession.cs
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: dotnet
