Repository PSAppDeployToolkit/PSAppDeployToolkit, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, documentation, dotnet, update, NuGet, dependencies, styles, themes, titlebar, tray, controls, navigation, gallery, icons

.github/labeler.yml:

release:
  - base-branch: 'main'

PR:
  - base-branch: [ 'main', 'development' ]

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

dotnet:
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

update:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Build.props'

NuGet:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Packages.props'

dependencies:
- changed-files:
  - any-glob-to-any-file: [ 'src/Directory.Packages.props', 'branding/package.json' ]

styles:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/**/*.xaml'

themes:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Appearance/**'

titlebar:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Controls/TitleBar/**'

tray:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui.Tray/**'

controls:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Controls/**'

navigation:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Controls/NavigationView/**'

gallery:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui.Gallery/**'

icons:
- changed-files:
  - any-glob-to-any-file: [ 'src/Wpf.Ui/Resources/Fonts/**', 'src/Wpf.Ui/Controls/IconSource/*', 'src/Wpf.Ui/Controls/IconElement/*' ]

- Update all packages used by wpfui to the latest versions.
  lib/wpfui/Directory.Packages.props
  lib/wpfui/src/Wpf.Ui.Extension/Wpf.Ui.Extension.csproj
Labels: none

- Integrate our local wpfui library into our PSADT.UserInterface project and rebuild our DLL files.
  src/PSADT.UserInterface/PSADT.UserInterface.sln
  src/PSADT.UserInterface/PSADT.UserInterface/PSADT.UserInterface.csproj
  src/PSAppDeployToolkit/lib/net462/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net462/Wpf.Ui.Abstractions.dll
  src/PSAppDeployToolkit/lib/net462/Wpf.Ui.Abstractions.xml
  src/PSAppDeployToolkit/lib/net462/Wpf.Ui.Tray.dll
  src/PSAppDeployToolkit/lib/net462/Wpf.Ui.Tray.xml
  src/PSAppDeployToolkit/lib/net462/Wpf.Ui.xml
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/Microsoft.Win32.SystemEvents.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.deps.json
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.dll.config
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/System.Drawing.Common.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/System.Private.Windows.Core.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/Wpf.Ui.Abstractions.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/Wpf.Ui.Abstractions.xml
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/Wpf.Ui.Tray.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/Wpf.Ui.Tray.xml
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/Wpf.Ui.xml
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/runtimes/win/lib/net8.0/Microsoft.Win32.SystemEvents.dll
Labels: none

- Have our build system sign our own compiled wpfui DLL files.
  src/PSAppDeployToolkit.build.ps1
Labels: none

- Update markdown help exports following recent changes.
  docs/ConvertTo-ADTNTAccountOrSID.mdx
Labels: documentation

- Amend poorly translated French MessageInstallDetail string.
  src/PSAppDeployToolkit/Strings/fr/strings.psd1
Labels: none

- Amend all comment-based help areas that reference old 3.x variables that don't exist anymore.
  docs/Copy-ADTContentToCache.mdx
  docs/Copy-ADTFileToUserProfiles.mdx
  docs/Install-ADTMSUpdates.mdx
  docs/Remove-ADTContentFromCache.mdx
  docs/Set-ADTActiveSetup.mdx
  docs/Show-ADTInstallationProgress.mdx
  docs/Start-ADTProcess.mdx
  docs/Write-ADTLogEntry.mdx
  src/PSAppDeployToolkit/Public/Copy-ADTContentToCache.ps1
  src/PSAppDeployToolkit/Public/Copy-ADTFileToUserProfiles.ps1
  src/PSAppDeployToolkit/Public/Install-ADTMSUpdates.ps1
  src/PSAppDeployToolkit/Public/Remove-ADTContentFromCache.ps1
  src/PSAppDeployToolkit/Public/Set-ADTActiveSetup.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationProgress.ps1
  src/PSAppDeployToolkit/Public/Start-ADTProcess.ps1
  src/PSAppDeployToolkit/Public/Write-ADTLogEntry.ps1
Labels: documentation

- Amend examples in comment-based help for `New-ADTTemplate`.
  docs/New-ADTTemplate.mdx
  src/PSAppDeployToolkit/Public/New-ADTTemplate.ps1
Labels: documentation

- Use the correct `[ValidateRange()]` decoration against `New-ADTTemplate`'s `-Version` parameter.
  src/PSAppDeployToolkit/Public/New-ADTTemplate.ps1
Labels: none

- Revise filtration setup in `Get-ADTBoundParametersAndDefaultValues` to properly filter on a given HelpMessage.
  src/PSAppDeployToolkit/Public/Get-ADTBoundParametersAndDefaultValues.ps1
Labels: none

- Use a better exception type for native binaries that finish with a bad exit code.
  src/PSAppDeployToolkit/Private/Get-ADTProcessHandles.ps1
  src/PSAppDeployToolkit/Private/Invoke-ADTSubstOperation.ps1
  src/PSAppDeployToolkit/Private/Invoke-ADTTerminalServerModeChange.ps1
  src/PSAppDeployToolkit/Public/Dismount-ADTWimFile.ps1
  src/PSAppDeployToolkit/Public/Get-ADTSchedulerTask.ps1
  src/PSAppDeployToolkit/Public/Set-ADTServiceStartMode.ps1
  src/PSAppDeployToolkit/Public/Update-ADTGroupPolicy.ps1
Labels: none

- Add warning to `Start-ADTProcessAsUser` that the toolkit needs to be running as SYSTEM for it to operate.
  src/PSAppDeployToolkit/Public/Start-ADTProcessAsUser.ps1
Labels: none

- Add `Write-FunctionHeaderOrFooter` to `AppDeployToolkitMain.ps1`, directly as it was in v3.x.
  src/PSAppDeployToolkit/Frontend/v3/AppDeployToolkit/AppDeployToolkitMain.ps1
Labels: none

- This is PSAppDeployToolkit 4.0.3
  examples/VLC/Invoke-AppDeployToolkit.ps1
  examples/WinSCP/Invoke-AppDeployToolkit.ps1
  src/PSADT.Invoke/PSADT.Invoke/Properties/AssemblyInfo.cs
  src/PSADT.UserInterface/PSADT.UserInterface/PSADT.UserInterface.csproj
  src/PSADT/PSADT/PSADT.csproj
  src/PSAppDeployToolkit/Frontend/v3/AppDeployToolkit/AppDeployToolkitMain.ps1
  src/PSAppDeployToolkit/Frontend/v3/Deploy-Application.exe
  src/PSAppDeployToolkit/Frontend/v4/Invoke-AppDeployToolkit.exe
  src/PSAppDeployToolkit/Frontend/v4/Invoke-AppDeployToolkit.ps1
  src/PSAppDeployToolkit/Frontend/v4/PSAppDeployToolkit.Extensions/PSAppDeployToolkit.Extensions.psd1
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
  src/PSAppDeployToolkit/lib/net462/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net462/PSADT.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.dll
Labels: dotnet

- Add `IsIntuneClientRebootPending` property to `Get-ADTPendingReboot` output.
  docs/Get-ADTPendingReboot.mdx
  src/PSADT/PSADT/Types/PSADT.Types.Struct.RebootInfo.cs
  src/PSAppDeployToolkit/Public/Get-ADTPendingReboot.ps1
  src/PSAppDeployToolkit/lib/net462/PSADT.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.dll
Labels: documentation, dotnet

- Reinstate `[CmdletBinding()]` within `AppDeployToolkitMain.ps1` so that it doesn't blindly accept any parameters.
  src/PSAppDeployToolkit/Frontend/v3/AppDeployToolkit/AppDeployToolkitMain.ps1
Labels: none

- Hook up `-NoCountdown` for `Show-ADTInstallationRestartPromptFluent`.
  src/PSADT.UserInterface/PSADT.Exe/Program.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.ADTApplication.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.RestartDialog.xaml
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.RestartDialog.xaml.cs
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/PSADT.UserInterface.UnifiedADTApplication.cs
  src/PSAppDeployToolkit/Private/Show-ADTInstallationRestartPromptClassic.ps1
  src/PSAppDeployToolkit/Private/Show-ADTInstallationRestartPromptFluent.ps1
  src/PSAppDeployToolkit/lib/net462/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.dll
Labels: dotnet

- Add missing Norwegian translations (AI generated via DeepL, may not be amazing).
  src/PSAppDeployToolkit/Strings/nb/strings.psd1
Labels: none

- Rework PSADT.Invoke to be able to pick up PSAppDeployToolkit installed in PSModulePath as a fallback option.
  src/PSADT.Invoke/PSADT.Invoke/Invoke.cs
  src/PSAppDeployToolkit/Frontend/v3/Deploy-Application.exe
  src/PSAppDeployToolkit/Frontend/v4/Invoke-AppDeployToolkit.exe
Labels: dotnet

- Amend the CMTrace log time offsetting to properly factor in negative offsets.
  src/PSADT/PSADT/Module/PSADT.Module.Class.DeploymentSession.cs
  src/PSAppDeployToolkit/lib/net462/PSADT.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.dll
Labels: dotnet

- Amend examples in comment-based help for `New-ADTTemplate`.
  docs/New-ADTTemplate.mdx
  src/PSAppDeployToolkit/Public/New-ADTTemplate.ps1
Labels: documentation

- Use the correct `[ValidateRange()]` decoration against `New-ADTTemplate`'s `-Version` parameter.
  src/PSAppDeployToolkit/Public/New-ADTTemplate.ps1
Labels: none

- Rename `$IsMsiInstalled` to `$msiInstalled` within `Start-ADTMsiProcess` for clarity.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Add `MainWindowHandle` property to `PSADT.UserInterface.Services.AppProcessInfo` class.
  src/PSADT.UserInterface/PSADT.UserInterface/UserInterface/Services/PSADT.UserInterface.Services.AppProcessInfo.cs
  src/PSAppDeployToolkit/Private/Get-ADTRunningProcesses.ps1
  src/PSAppDeployToolkit/lib/net462/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.dll
Labels: dotnet

- Amend all comment-based help areas that reference old 3.x variables that don't exist anymore.
  docs/Copy-ADTContentToCache.mdx
  docs/Copy-ADTFileToUserProfiles.mdx
  docs/Install-ADTMSUpdates.mdx
  docs/Remove-ADTContentFromCache.mdx
  docs/Set-ADTActiveSetup.mdx
  docs/Show-ADTInstallationProgress.mdx
  docs/Start-ADTProcess.mdx
  docs/Write-ADTLogEntry.mdx
  src/PSAppDeployToolkit/Public/Copy-ADTContentToCache.ps1
  src/PSAppDeployToolkit/Public/Copy-ADTFileToUserProfiles.ps1
  src/PSAppDeployToolkit/Public/Install-ADTMSUpdates.ps1
  src/PSAppDeployToolkit/Public/Remove-ADTContentFromCache.ps1
  src/PSAppDeployToolkit/Public/Set-ADTActiveSetup.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationProgress.ps1
  src/PSAppDeployToolkit/Public/Start-ADTProcess.ps1
  src/PSAppDeployToolkit/Public/Write-ADTLogEntry.ps1
Labels: documentation

- Update markdown help exports following recent changes.
  docs/Show-ADTInstallationWelcome.mdx
  docs/Start-ADTMsiProcess.mdx
Labels: documentation

- Throw in `Start-ADTMsiProcess` if a ProductCode is used with an Install action.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Patch Norwegian translations in the Dutch strings file.
  src/PSAppDeployToolkit/Strings/nl/strings.psd1
Labels: none

- Add `Write-FunctionHeaderOrFooter` to `AppDeployToolkitMain.ps1`, directly as it was in v3.x.
  src/PSAppDeployToolkit/Frontend/v3/AppDeployToolkit/AppDeployToolkitMain.ps1
Labels: none

Add translation of Transform parameter to Transforms in Execute-MSI wrapper
  src/PSAppDeployToolkit/Frontend/v3/AppDeployToolkit/AppDeployToolkitMain.ps1
Labels: none

- Rework `$msiProduct` setup within `Start-ADTMsiProcess`.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Use `string.IsNullOrWhiteSpace()` everywhere.
  src/PSADT/PSADT/Account/PSADT.Account.AccountUtilities.cs
  src/PSADT/PSADT/ProcessUtilities/PSADT.ProcessUtilities.Handle.cs
  src/PSADT/PSADT/ProcessUtilities/PSADT.ProcessUtilities.ProcessParameters.cs
  src/PSADT/PSADT/WTSSession/PSADT.WTSSession.SessionManager.cs
  src/PSAppDeployToolkit/lib/net462/PSADT.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.dll
Labels: dotnet

- Fix the throw message for `Start-ADTMsiProcess`'s `-FilePath` parameter.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Remove the PowerShell host version restriction as compatible hosts can have version numbers drastically different the PowerShell version.
  src/PSAppDeployToolkit/Frontend/v4/PSAppDeployToolkit.Extensions/PSAppDeployToolkit.Extensions.psd1
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
Labels: none

- Update markdown help exports following recent changes.
  docs/ConvertTo-ADTNTAccountOrSID.mdx
Labels: documentation

- And logging issue within `Start-ADTProcessAsUser`.
  src/PSAppDeployToolkit/Public/Start-ADTProcessAsUser.ps1
Labels: none

- Add warning to `Start-ADTProcessAsUser` that the toolkit needs to be running as SYSTEM for it to operate.
  src/PSAppDeployToolkit/Public/Start-ADTProcessAsUser.ps1
Labels: none

Enable loading of external installed module and only load extension module if it exists
  examples/VLC/Invoke-AppDeployToolkit.ps1
  examples/WinSCP/Invoke-AppDeployToolkit.ps1
  src/PSAppDeployToolkit/Frontend/v3/AppDeployToolkit/AppDeployToolkitMain.ps1
  src/PSAppDeployToolkit/Frontend/v4/Invoke-AppDeployToolkit.ps1
Labels: none

- No need to write our own error out if `Import-Module` fails, it's error is good enough.
  src/PSAppDeployToolkit/Frontend/v3/AppDeployToolkit/AppDeployToolkitMain.ps1
Labels: none

- Revise filtration setup in `Get-ADTBoundParametersAndDefaultValues` to properly filter on a given HelpMessage.
  src/PSAppDeployToolkit/Public/Get-ADTBoundParametersAndDefaultValues.ps1
Labels: none

- Patch bad setup in `Show-ADTInstallationWelcome` preventing sessionless usage of the function.
  src/PSAppDeployToolkit/Public/Show-ADTInstallationWelcome.ps1
Labels: none
