Repository PSAppDeployToolkit/PSAppDeployToolkit, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, documentation, dotnet, update, NuGet, dependencies, styles, themes, titlebar, tray, controls, navigation, gallery, icons

.github/labeler.yml:

release:
  - base-branch: 'main'

PR:
  - base-branch: [ 'main', 'development' ]

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

dotnet:
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

update:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Build.props'

NuGet:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Packages.props'

dependencies:
- changed-files:
  - any-glob-to-any-file: [ 'src/Directory.Packages.props', 'branding/package.json' ]

styles:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/**/*.xaml'

themes:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Appearance/**'

titlebar:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Controls/TitleBar/**'

tray:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui.Tray/**'

controls:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Controls/**'

navigation:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui/Controls/NavigationView/**'

gallery:
- changed-files:
  - any-glob-to-any-file: 'src/Wpf.Ui.Gallery/**'

icons:
- changed-files:
  - any-glob-to-any-file: [ 'src/Wpf.Ui/Resources/Fonts/**', 'src/Wpf.Ui/Controls/IconSource/*', 'src/Wpf.Ui/Controls/IconElement/*' ]

- Rename `$msiFile` to `$msiProduct` within `Start-ADTMsiProcess` for clarity.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Ensure the logFile variable within `Start-ADTMsiProcess` produces an identical log for FilePath and ProductCode/InstalledApplication parameter sets.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

Update help for Start-ADTMsiProcess
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Strongly type the parameters for `ConvertTo-ADTNTAccountOrSID`.
  src/PSAppDeployToolkit/Public/ConvertTo-ADTNTAccountOrSID.ps1
Labels: none

- Completely rework log file setup within `Start-ADTMsiProcess`.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Repairs and immutability improvements to output of `Get-ADTPendingReboot`.
  src/PSADT/PSADT/Types/PSADT.Types.Struct.RebootInfo.cs
  src/PSAppDeployToolkit/lib/net462/PSADT.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.dll
Labels: dotnet

- Rename `$MSIProductCode` to `$msiProductCode` within `Start-ADTMsiProcess` for clarity.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Process transform/patch file paths earlier since transforms are potentially sent through to `Get-ADTMsiTableProperty`.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Use a better exception type for native binaries that finish with a bad exit code.
  src/PSAppDeployToolkit/Private/Get-ADTProcessHandles.ps1
  src/PSAppDeployToolkit/Private/Invoke-ADTSubstOperation.ps1
  src/PSAppDeployToolkit/Private/Invoke-ADTTerminalServerModeChange.ps1
  src/PSAppDeployToolkit/Public/Dismount-ADTWimFile.ps1
  src/PSAppDeployToolkit/Public/Get-ADTSchedulerTask.ps1
  src/PSAppDeployToolkit/Public/Set-ADTServiceStartMode.ps1
  src/PSAppDeployToolkit/Public/Update-ADTGroupPolicy.ps1
Labels: none

- Return earlier if we're installing an already-installed product, or performing any other action on a non-installed product.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Synchronise the `-FilePath` parameter between `Start-ADTMsiProcess` and `Start-ADTMspProcess`.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
  src/PSAppDeployToolkit/Public/Start-ADTMspProcess.ps1
Labels: none

Update strings.psd1
  src/PSAppDeployToolkit/Strings/sv/strings.psd1
Labels: none

- Resiliency improvements around determining the ProductCode in `Start-ADTMsiProcess`.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: none

- Remediate minor issues within `Invoke-ADTServiceAndDependencyOperation`.
  src/PSAppDeployToolkit/Private/Invoke-ADTServiceAndDependencyOperation.ps1
Labels: none

- This is PSAppDeployToolkit 4.0.3
  examples/VLC/Invoke-AppDeployToolkit.ps1
  examples/WinSCP/Invoke-AppDeployToolkit.ps1
  src/PSADT.Invoke/PSADT.Invoke/Properties/AssemblyInfo.cs
  src/PSADT.UserInterface/PSADT.UserInterface/PSADT.UserInterface.csproj
  src/PSADT/PSADT/PSADT.csproj
  src/PSAppDeployToolkit/Frontend/v3/AppDeployToolkit/AppDeployToolkitMain.ps1
  src/PSAppDeployToolkit/Frontend/v3/Deploy-Application.exe
  src/PSAppDeployToolkit/Frontend/v4/Invoke-AppDeployToolkit.exe
  src/PSAppDeployToolkit/Frontend/v4/Invoke-AppDeployToolkit.ps1
  src/PSAppDeployToolkit/Frontend/v4/PSAppDeployToolkit.Extensions/PSAppDeployToolkit.Extensions.psd1
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
  src/PSAppDeployToolkit/lib/net462/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net462/PSADT.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.dll
Labels: dotnet

- Amend poorly translated French MessageInstallDetail string.
  src/PSAppDeployToolkit/Strings/fr/strings.psd1
Labels: none

Updated wording of Norwegian.
  src/PSAppDeployToolkit/Strings/nb/strings.psd1
Labels: none

- Rename `Get-ADTEnvironment` to `Get-ADTEnvironmentTable`.
  src/PSAppDeployToolkit/Frontend/v3/AppDeployToolkit/AppDeployToolkitMain.ps1
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
  src/PSAppDeployToolkit/Private/Import-ADTConfig.ps1
  src/PSAppDeployToolkit/Private/Show-ADTInstallationPromptClassic.ps1
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptClassic.ps1
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptFluent.ps1
  src/PSAppDeployToolkit/Public/Block-ADTAppExecution.ps1
  src/PSAppDeployToolkit/Public/Get-ADTEnvironmentTable.ps1
  src/PSAppDeployToolkit/Public/Open-ADTSession.ps1
  src/PSAppDeployToolkit/Public/Show-ADTBlockedAppDialog.ps1
  src/PSAppDeployToolkit/Public/Show-ADTDialogBox.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationWelcome.ps1
Labels: none

- Restore `Get-ADTEnvironment` as a compatibility wrapper. To be removed at commencement of PSAppDeployToolkit 4.2.0.
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
  src/PSAppDeployToolkit/Public/Get-ADTEnvironment.ps1
Labels: none

- Add `Export-ADTEnvironmentTableToSessionState` to toolkit to allow manual environment table exportation to the provided SessionState object.
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
  src/PSAppDeployToolkit/Public/Export-ADTEnvironmentTableToSessionState.ps1
  src/PSAppDeployToolkit/Public/Open-ADTSession.ps1
Labels: none

- Update markdown exports following recent changes.
  docs/Export-ADTEnvironmentTableToSessionState.mdx
  docs/Get-ADTEnvironmentTable.mdx
  docs/docusaurus.sidebar.js
  src/PSAppDeployToolkit/Public/Export-ADTEnvironmentTableToSessionState.ps1
Labels: documentation

- Bump platyPS version to 0.14.2, the latest released version.
  actions_bootstrap.ps1
Labels: none

Updated wording of Norwegian.
  src/PSAppDeployToolkit/Strings/nb/strings.psd1
Labels: none

- Remove the `HelpInfoURI` value from the manifest, we don't support this.
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
Labels: none

- Fix partial `platyPS` version bump from "- Bump platyPS version to 0.14.2, the latest released version.".
  src/PSAppDeployToolkit.build.ps1
Labels: none

- Rework the string table and `Show-ADTWelcomePromptFluent` to properly handle different deployment types (POC).
  src/PSAppDeployToolkit/Private/Show-ADTWelcomePromptFluent.ps1
  src/PSAppDeployToolkit/Strings/strings.psd1
Labels: none

- Fix badly escaped formatting in log compression string.
  src/PSADT/PSADT/Module/PSADT.Module.Class.DeploymentSession.cs
  src/PSAppDeployToolkit/lib/net462/PSADT.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.dll
Labels: dotnet

- Only use the .NET Framework 4.6.2 DLL files with our project.
  src/PSADT.Invoke/PSADT.Invoke/PSADT.Invoke-AppDeployToolkit.csproj
  src/PSAppDeployToolkit.build.ps1
  src/PSAppDeployToolkit/PSAppDeployToolkit.psd1
  src/PSAppDeployToolkit/lib/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/System.ValueTuple.dll
  src/PSAppDeployToolkit/lib/Wpf.Ui.Abstractions.dll
  src/PSAppDeployToolkit/lib/Wpf.Ui.Tray.dll
  src/PSAppDeployToolkit/lib/net462/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net462/PSADT.dll
  src/PSAppDeployToolkit/lib/net462/System.ValueTuple.dll
  src/PSAppDeployToolkit/lib/net462/Wpf.Ui.Abstractions.dll
  src/PSAppDeployToolkit/lib/net462/Wpf.Ui.Tray.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.deps.json
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.UserInterface.dll.config
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.deps.json
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/PSADT.dll.config
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/WinRT.Runtime.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/Wpf.Ui.Abstractions.dll
  src/PSAppDeployToolkit/lib/net8.0-windows10.0.17763/Wpf.Ui.Tray.dll
Labels: none

- Replace bad `Get-CimInstance` calls with the correct `Invoke-CimMethod` calls.
  src/PSAppDeployToolkit/Public/Install-ADTSCCMSoftwareUpdates.ps1
  src/PSAppDeployToolkit/Public/Invoke-ADTSCCMTask.ps1
Labels: none

- Fix bad setup in `New-ADTShortcut`'s `-Path` ValidateScript decoration.
  src/PSAppDeployToolkit/Public/New-ADTShortcut.ps1
Labels: none

- Fix bad CIMMethod arguments setups from "- Replace bad `Get-CimInstance` calls with the correct `Invoke-CimMethod` calls.".
  src/PSAppDeployToolkit/Public/Install-ADTSCCMSoftwareUpdates.ps1
  src/PSAppDeployToolkit/Public/Invoke-ADTSCCMTask.ps1
Labels: none

- Add a copy of the module's public certificate to the module root.
  src/PSAppDeployToolkit/PSAppDeployToolkit.cer
Labels: none

- Shoe-horn in process to allow custom variables to be added to a DeploymentSession object.
  src/PSAppDeployToolkit/Public/Open-ADTSession.ps1
Labels: none

- Numerous fixes to `Set-ADTActiveSetup`.
  src/PSAppDeployToolkit/Public/Set-ADTActiveSetup.ps1
Labels: none

- Fix bad comment-based help within `Copy-ADTFile`.
  docs/Copy-ADTFile.mdx
  src/PSAppDeployToolkit/Public/Copy-ADTFile.ps1
Labels: documentation

- Update markdown help export for `Open-ADTSession`.
  docs/Open-ADTSession.mdx
Labels: documentation

- Enable the SeDebugPrivilege for tokens created with the TokenManager class so that admins not running as SYSTEM can impersonate users as well.
  src/PSADT/PSADT/AccessToken/PSADT.AccessToken.PrivilegeManager.cs
  src/PSADT/PSADT/AccessToken/PSADT.AccessToken.TokenManager.cs
Labels: dotnet

- Recompile checked in DLL file and remove guard clause from `Start-ADTProcessAsUser`.
  src/PSAppDeployToolkit/Public/Start-ADTProcessAsUser.ps1
  src/PSAppDeployToolkit/lib/PSADT.dll
Labels: none

Allow the `CreateProcessAsUser()` code to work for non-SYSTEM admin users.
  src/PSADT/PSADT/AccessToken/PSADT.AccessToken.ImpersonationManager.cs
  src/PSADT/PSADT/AccessToken/PSADT.AccessToken.ImpersonationOptions.cs
  src/PSADT/PSADT/AccessToken/PSADT.AccessToken.PrivilegeManager.cs
  src/PSADT/PSADT/AccessToken/PSADT.AccessToken.TokenManager.cs
  src/PSADT/PSADT/PInvoke/PSADT.PInvoke.NativeMethods.Enums.cs
  src/PSADT/PSADT/PInvoke/PSADT.PInvoke.NativeMethods.Structs.cs
  src/PSADT/PSADT/PInvoke/PSADT.PInvoke.NativeMethods.cs
  src/PSADT/PSADT/ProcessEx/PSADT.ProcessEx.StartProcess.cs
  src/PSADT/PSADT/ProcessUtilities/PSADT.ProcessUtilities.Handle.cs
Labels: dotnet

- Allow PDB files to be checked in to ease debugging with users remotely.
  .gitignore
  src/PSAppDeployToolkit/Frontend/v3/Deploy-Application.exe
  src/PSAppDeployToolkit/Frontend/v3/Invoke-AppDeployToolkit.pdb
  src/PSAppDeployToolkit/Frontend/v4/Invoke-AppDeployToolkit.exe
  src/PSAppDeployToolkit/Frontend/v4/Invoke-AppDeployToolkit.pdb
  src/PSAppDeployToolkit/lib/PSADT.UserInterface.dll
  src/PSAppDeployToolkit/lib/PSADT.UserInterface.pdb
  src/PSAppDeployToolkit/lib/PSADT.dll
  src/PSAppDeployToolkit/lib/PSADT.pdb
Labels: none
