Repository PSAppDeployToolkit/PSAppDeployToolkit, pull requests merged in 2024-03, with the labels that each got.

#854 de translation
  Toolkit/AppDeployToolkit/AppDeployToolkitConfig.xml
Labels: work in progress / partially implemented, documentation

#909 Copy-File-enhancements
  Toolkit/AppDeployToolkit/AppDeployToolkitMain.ps1
Labels: enhancement / adjustment

#911 - Rework 205f8eec51d75fe9a498fc31e8cc30718e44f3df to split and join strings just on the line feed.
  Toolkit/AppDeployToolkit/AppDeployToolkitMain.ps1
Labels: bug, resolved / implemented
