Repository PSAppDeployToolkit/PSAppDeployToolkit, pull requests merged in 2025-08, with the labels that each got.

#1609 Improve comment-based help for `Mount-ADTWimFile`.
  src/PSAppDeployToolkit/Public/Mount-ADTWimFile.ps1
Labels: Type: Documentation

#1642 Ensure Latvian is referenced as a supported language.
  src/PSAppDeployToolkit/ADMX/PSAppDeployToolkit.admx
  src/PSAppDeployToolkit/ADMX/en-US/PSAppDeployToolkit.adml
  src/PSAppDeployToolkit/Config/config.psd1
Labels: Type: Issue / Bug, Type: Idea / Enhancement

#1659 Remove any remaining IFEO subkeys of ours if the subkey is empty.
  src/PSAppDeployToolkit/Private/Unblock-ADTAppExecutionInternal.ps1
Labels: Type: Issue / Bug, Type: Idea / Enhancement

#1666 Fix the logging setup for `Start-ADTMsiProcessAsUser`.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
Labels: Type: Issue / Bug

#1672 Fix bad parameter set grouping for `Start-ADTProcess` family of functions.
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcess.ps1
  src/PSAppDeployToolkit/Public/Start-ADTMsiProcessAsUser.ps1
  src/PSAppDeployToolkit/Public/Start-ADTProcess.ps1
  src/PSAppDeployToolkit/Public/Start-ADTProcessAsUser.ps1
Labels: Type: Issue / Bug

#1673 Add warning within `Block-ADTAppExecution` if generated command line is > 255 chars.
  src/PSAppDeployToolkit/Public/Block-ADTAppExecution.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationWelcome.ps1
Labels: Status: Wont Fix

#1681 Set default parameter set for `Start-ADTMspProcess`.
  src/PSAppDeployToolkit/Public/Start-ADTMspProcess.ps1
Labels: Type: Issue / Bug

#1622 Update Show-ADTInstallationWelcome.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationProgress.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationPrompt.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationRestartPrompt.ps1
  src/PSAppDeployToolkit/Public/Show-ADTInstallationWelcome.ps1
Labels: Type: Documentation

#1685 Fix StdOut/StdErr/Interleaved printing within `Start-ADTProcess`.
  src/PSAppDeployToolkit/Public/Start-ADTProcess.ps1
Labels: Type: Issue / Bug
